<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>BWAMP by FullStory</title>
    <meta property="og:title" content="BWAMP">
    <meta property="og:description" content="BWAMP 🎉🎉🎉 by FullStory">
    <meta property="og:url" content="https://bwamp.me/">
    <meta property="og:image" content="https://bwamp.me/s/img/bwamp-og.png">
    <meta property="twitter:image" content="https://bwamp.me/s/img/bwamp-og-twitter.png">
    <meta name="author" content="radrice">
    <meta name="description" content="BWAMP 🎉🎉🎉 by FullStory">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bwamp.pack.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body class="publicsans-med bg-bwamp cover">
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/bwamp.pack.js"></script>
    <script src="/scripts/wwamp.js"></script>
  </body>
</html>
