<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>WWAMP by ~Fullstory~ Wattch</title>
    <meta property="og:title" content="WWAMP">
    <meta property="og:description" content="WWAMP 🎉🎉🎉">
    <meta property="og:url" content="https://wwamp.me/">
    <meta property="og:image" content="https://wwamp.me/images/bwamp-og.png">
    <meta property="twitter:image" content="https://wwamp.me/images/wwamp-og.png">
    <meta name="author" content="radrice">
    <meta name="description" content="WWAMP 🎉🎉🎉">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/wwamp.pack.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body class="publicsans-med bg-bwamp cover">
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/howler.js"></script>
    <script src="/scripts/wwamp.js"></script>
  </body>
</html>
